@use './variables' as *;
@use './components' as *;

.about {
  position: relative;
  padding-top: $extra-big-g + 30px;

  &__content {
    position: relative;
    width: 80%;
    margin: $extra-big-g auto 0;
    padding: $normal-g;
    background-image: $box-gradient;
    text-align: center;

    &__image {
      position: relative;
      width: 105px;
      height: 105px;
      border-radius: 50%;
      float: right;
      clear: both;
      shape-outside: circle(50%);
      transform: translate(-40%, -40%);
    }

    &--img {
      position: absolute;
      width: 130px;

      clip-path: circle(50%);
      filter: grayscale(56%);
      -webkit-filter: grayscale(56%);
      -moz-filter: grayscale(56%);
    }


      &__text {
        padding-top: $normal-g;
        word-spacing: 3px;
      }
    }
  }


@media screen and (min-width: 767px) {
  .about {
    height: 400px;
    padding-top: 94px;
    &__title {
      position: relative;
      z-index: 2;
    }

    &__content {
    position: absolute;
    top: 5%;
    left: 40%;
    width: 50%;
    height: 320px;

    &__image {
      position: absolute;
      bottom: -90px;
      left: 42%;
      shape-outside: none;
      transform: none;
      z-index: 1;
    }

    &--img {
      width: 180px;
    }

    &__text {
      padding: $normal-g;
      font-size: $normal-f;
    }
  }
}
}

@media screen and (min-width: 998px) {
  .about {
    height: 450px;
  
  &__content {
    height: 400px;

    &__text {
      padding: $big-g;
      font-size: $large-f - 8px;
    }
  }
}
}