@use './variables' as *;
@use './components' as *;

.care {
  position: relative;
  height: 100vh;
  background-image:  url('../assets/image/take_dog_walk_768px.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &__title  {
   position: absolute;
   top: 13%;
   z-index: 2;
  }

  &__content {
    width: 85%;
    position: absolute;
    top: 10%;
    left: 10%;

    box-sizing: border-box;
    padding: 90px $extra-big-g $extra-big-g;
    background-color: $light-c;
    text-align: center;
    letter-spacing: 1.3px;

    &--text {
      margin: $normal-g 0;
    }

    &--link {
      @extend %text-link;
      padding: $small-g;
    }
  }
}

@media screen and (min-width: 767px) {
  .care__content {
    width: 50%;
    left: 40%;
    padding-top: $extra-big-g;
    font-size: $normal-f;
  }
}

@media screen and (min-width: 998px) {
  .care {
    background-image:  url('../assets/image/take_dog_walk_1024px.PNG');
    
    &__content {
      top: 5vh;
      font-size: $normal-f;
    }
  }
}

@media screen and (min-height: 800px) {
  .care {
    height: 800px;
  }
}