@use './variables' as *;
@use './components' as *;

.care {
  position: relative;
  min-height: 100vh;
  background-image:  url('../assets/image/take_dog_walk_768px.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &__title  {
   position: absolute;
   top: 13%;
   z-index: 2;
  }

  &__content {
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;

    box-sizing: border-box;
    padding: 90px $extra-big-g $extra-big-g;
    background-color: $light-c;
    text-align: center;
    letter-spacing: 1.3px;

    &--text {
      margin: $normal-g 0;
    }

    &--link {
      padding: $small-g;
      border-radius: $radius-size;
      color: $font-c;
      transition: color .1s  ease, box-shadow .3s ease;

      &:hover {
        color: $base-c;
        box-shadow: 0 0 10px 0px $base-c inset;
        transition: color .1s ease, box-shadow .3s ease;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .care__content {
    width: 50%;
    left: 40%;
    padding-top: 60px;
    font-size: $normal-f;
  }
}

@media screen and (min-width: 998px) {
  .care__content {
    font-size: $large-f - 8px;
  }
}