@use './variables' as *;

%btn {
  padding: $small-g $normal-g;
  border: solid 2px $border-light-c;
  border-radius: $radius-size;
  color: $font-c;

  &:hover {
    background-color: $hover-button-s;
    border: solid 2px $border-dark-c;
  }
  &:active {
    background-color: $active-button-c;
    border: solid 2px $border-dark-c;
  }
}


%article-title {
  width: clamp(170px, 40%, 470px);
  padding: $small-g;
  background-image: $header-gradient;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

%article-icon {
  font-size: clamp(34px, 6vw, 54px);
  color: $light-c;
}

%article-text {
  font-family: $header-font;
  font-size: clamp(24px, 5vw, 36px);
  font-weight: 400;
  letter-spacing: $extra-small-g;
  color: $base-c;
}

%text-link {
  display: inline-block;
  border-radius: $radius-size;
  box-sizing: border-box;
  color: $font-c;
  transition: color 0.1s ease, box-shadow 0.2s ease;

  &:hover {
    color: $base-c;
    box-shadow: 0 0 10px 0px $base-c inset;
    transition: color 0.1s ease, box-shadow 0.2s ease;
  }
}
