@use './variables' as *;
@use './components'as *;;

.wrapper {
  position: relative;
  width: 100%;
  height: 190px;
  margin-bottom: clamp(21px, 4vw, 34px)
}

.contact {
  width: 90%;
  margin: 0 auto $big-g;
  border: solid 1px $border-dark-c;
  border-radius: $radius-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  &__title {
    width: 60%;
    margin-top: $normal-g;
    background-color: $basic-c;

    &--text {
      padding: $small-g $normal-g;
      font-family: $header-font;
      font-size: clamp(24px, 4vw, 36px);
      font-weight: 400;
      letter-spacing: $extra-small-g;
      color: $base-c;
    }
  }

  &__content {
    width: 100%;
    padding: $big-g;
    text-align: center;

    &__item {
      letter-spacing: 1px;
      &--text {
        display: block;
      }
      &--link {
        @extend %text-link;
        padding: $small-g;
        font-weight: bolder;

        &:hover {
          color: $font-c;
          box-shadow: 0 0 7px 0px $font-c;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .wrapper {
    height: 240px;
  }
  .contact {
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    width: 50%;

    &__content {
      &__item {
        font-size: $normal-f;
      }
    }
  }
}

@media screen and (min-width: 998px) {
  .wrapper {
    height: 260px;
  }
  .contact {
    &__content {
      &__item {
        font-size: $large-f - 8px;
      }
    }
  }
}

@media screen and (min-width: 1439px) {
  .contact {
    width: 40%;
  }
}