@use './variables' as *;
@use './components' as *;

.education {
  padding-top: 80px;

  &__content {
    width: 100%;
    margin-top: $big-g;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: clamp(8px, 3vw, 24px);


    &__card {
      width: min(350px, 80%);
      min-height: 154px;
      margin:  $small-g auto;
      padding: $small-g;
      border: solid 1px transparent;
      border-radius: $radius-size;
      text-align: center;
      box-shadow: $box-shadow;
      transition: border .3s ease;
      
      display: flex;
      justify-content: center;
      flex-direction: column;
      
      &:hover {
        border: solid 1px $border-dark-c;
        transition: border .3s ease, box-shadow .3s ease;
      }

      &--title {
        padding: $small-g;
        font-family: $header-font;
        font-size: $normal-f;
        letter-spacing: $extra-small-g;
      }
      &--text {
        padding: 0 $small-g;
      }
    }
  }
}

@media screen and (min-width: 998px) {
  .education {
    &__content {
      &__card {
        width: min(470px , 80%);
        margin-top: $extra-big-g;

        &--title {
          font-size: $large-f;
        }
        &--text {
          margin-bottom: $small-g;
          -webkit-line-clamp: 3;
          font-size: $normal-f;
        }
      }
    }
    }
}

@media screen and (min-width: 1439px) {
  .education__content__card {
    width: min(680px, 50%);

    &--text {
      -webkit-line-clamp: 5;
    }
  }
}