@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400,700&display=swap");

$header-font: "Merriweather", serif;
$text-font: "Lato", sans-serif;

//font sizings
$extra-large-f: 50px;
$large-f: 34px;
$normal-f: 18px;
$small-f: 14px;
$extra-small-f: 10px;

//gap sizings
$extra-big-g: 34px;
$big-g: 21px;
$normal-g: 13px;
$small-g: 8px;
$extra-small-g: 3px;

//border sizing
$normal-height: 60px;
$min-height: 40px;
$radius-size: 3px;

/*======== pallet ========= */

//backgrounds color
$base-c: #fff;
$basic-c: #64877c;
$dark-c: #3c5166;
$light-c: rgba(194, 213, 199, 0.4);
$font-c: #06281f;

$hover-button-s:  #ffa17a;
$active-button-c: #c2d5c7;

//border color
$border-dark-c: #3c5166;
$border-light-c: rgba(60, 81, 102, 0.25);

//gradients
$header-gradient: linear-gradient(
  270deg,
  #2f4858 0.1%,
  #345561 20.78%,
  #3c6169 40.01%,
  #476e70 57.43%,
  #547b76 77.56%,
  #64877c 95.59%
);
$box-gradient: linear-gradient(
  180deg,
  rgba(69, 129, 145, 0.3) 1.04%,
  rgba(82, 133, 133, 0.2) 42.19%,
  rgba(100, 135, 124, 0) 95.31%
);
$footer-gradient: linear-gradient(
  180deg,
  #64877c 0%,
  #547b76 35.42%,
  #476e70 60.42%,
  #3c6169 100%
);

//shadows
$box-shadow:  0px 0px 4px 0px #467B9B;
$image-shadow: 0px 6px 10px 2px rgba(60, 81, 102, 0.25);
