@use './variables' as *;
@use './components' as *;
@import url("../assets/icons/font/flaticon.scss");

//simple normalize
html,
body,
*::after,
*::before,
button,
ol,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: 0;
  list-style: none;
  outline: 0;
}

i {
  line-height: 0;
}

//======================

.container {
  width: min(1920px, 100vw);
  background-color: $base-c;
  font-family: $text-font;
  font-size: $normal-f;
  color: $font-c;
  line-height: 1.2;
}

.navigation {
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: $base-c;
  border-bottom: solid 2px $border-light-c;
  z-index: 10;

  &__logo {
    width: clamp(42px, 5vw, 80px);
    height: 50px;
    margin-top: $small-g;
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 2px 4px $border-light-c;

  &__banner {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url("../assets/image/samba_dog_portrait_leaf_background_320px.PNG");
    background-size: cover;
    background-position: top;

    &__title {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 42%;
      padding-bottom: $small-g;
      background-color: $base-c;
      clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%, 0 0);

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transform: translateY(1px);

      &--text {
        padding-left: $normal-g;
        font-family: $header-font;
        font-size: $large-f;
        letter-spacing: $small-g;
      }
    }
  }

  &__icons {
    height: 10vh;
    font-size: $large-f;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // gap: $extra-big-g;
  }
}

.education {
  width: 100%;
  margin: $extra-big-g auto;

  &__title {
    width: 50%;
    padding: $small-g;
    background-image: $header-gradient;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--icon {
      font-size: $normal-f + 10px;
      color: $light-c;
    }
    &--text {
      font-family: $header-font;
      font-size: $normal-f;
      font-weight: 400;
      letter-spacing: $extra-small-g;
      color: $base-c;
    }
  }

  &__content {
    width: 100%;
    margin-top: $big-g;

    &__card {
      width: 80%;
      margin: 0 auto;
      padding: $small-g;
      border: solid 1px $border-dark-c;
      border-radius: $radius-size;
      text-align: center;
      transition: box-shadow .3s ease;

      display: flex;
      flex-direction: column;

      &:hover {
        box-shadow: $box-shadow;
        transition: box-shadow .3s ease;
      }

      &--title {
        min-height: 76px;
        padding: $small-g;
        font-family: $header-font;
        font-size: $normal-f;
        letter-spacing: $extra-small-g;
      }

      &--text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: $small-f;
      }

      &--button {
        @extend %btn;
        min-width: 30%;
        margin: $normal-g $normal-g $extra-small-g 0;
        align-self: flex-end;
        font-size: $small-f;
      }
    }
  }
}
