@use './variables' as *;
@use './components' as *;
@use './navigation';
@use './hero';
@use './educationSection';
@use './careSection';
@use './aboutSection';
@use './contactSection';
@import url("../assets/icons/font/flaticon.scss");

//simple normalize
html,
body, *,
*::after,
*::before,
button,
ol,
ul,
li,
figure,
h1,
h2,
h3,
p,
div,
section,
article,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: 0;
  list-style: none;
  outline: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

i {
  line-height: 0;
}

//======================

.container {
  position: relative;
  background-color: $base-c;
  font-family: $text-font;
  font-size: $small-f;
  color: $font-c;
  line-height: 1.2;
}


.main {
  max-width: 1920px;
  margin: 0 auto;
}

.article {
  margin: ($extra-big-g + 60px) auto;

  &__title {
    @extend %article-title;

    &--icon {
      @extend %article-icon;
    }
    &--text {
      @extend %article-text;
    }
  }
}

.footer {
  width: 100vw;
  max-height: 100px;
  background-image: $footer-gradient;

  &__download {
    display: flex;
    justify-content: center;
    align-items: center;

    &--link {
      @extend %text-link;
      width: 100px;
      margin: $small-g;
      padding: $extra-small-g;
      text-align: center;
      font-size: $small-f;
      color: $base-c;
      letter-spacing: 1.5px;
    }
  }

  &__line {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: $base-c;
    opacity: 0.5;
  }

  &__copyright {
    padding: $small-g 0;
    font-size: $extra-small-f;
    color: $base-c;
    letter-spacing: 1px;
    text-align: center;
  }
}

.big__screen {
  display: none;
}

@media screen and (min-width: 998px) {
  .article__title {
    &--text {
      letter-spacing: $small-g;
    }
  }

  .big__screen {
    display: flex;
  }

  .footer {
    &__download--link {
      font-size: $normal-f -8px;
    }

    &__copyright {
      font-size: $normal-f - 6px;
    }
  }
}
