@use './normalize';
@use './variables' as *;
@use './components' as *;
@use './navigation';
@use './hero';
@use './educationSection';
@use './careSection';
@use './aboutSection';
@use './contactSection';
@import url("../assets/icons/font/flaticon.scss");

body {
  font-family: $text-font;
  font-size: $small-f;
  color: $font-c;
}

.container {
  position: relative;
  background-color: $base-c;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
}

.article {
  margin: $extra-big-g auto;

  &__title {
    @extend %article-title;

    &--icon {
      @extend %article-icon;
    }
    &--text {
      @extend %article-text;
    }
  }
}

.footer {
  width: 100vw;
  background-image: $footer-gradient;

  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__download {
      width: 70vw;
      font-size: $extra-small-f;
      
      &--label{
        display: inline;
        color: $base-c;
      }
      &--link {
        @extend %text-link;
        width: 80px;
        margin: $small-g 0;
        padding: $extra-small-g;
        color: $base-c;
        text-align: center;
        letter-spacing: 1.5px;
      }
    }

    &--icon {
      margin-top: $small-g;
      font-size: $normal-f + 5px;
      color: $base-c;
      &:hover {
        color: $hover-button-s;
      }
      &:active {
        transform: scale(.9);
      }
    }
  }


  &__line {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: $base-c;
    opacity: 0.5;
  }

  &__copyright {
    padding: $small-g 0;
    font-size: $extra-small-f;
    color: $base-c;
    letter-spacing: 1px;
    text-align: center;

    display: flex;
    justify-content: space-around;
    &--link {
      color: $base-c;
      &:hover {
        color: $hover-button-s;
      }
    }
  }
}

.big__screen {
  display: none;
}

@media screen and (min-width: 998px) {
  .article__title {
    &--text {
      letter-spacing: $small-g;
    }
  }

  .big__screen {
    display: flex;
  }
}
