$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a456e6f6608639a10bb899a5e50ce5ca") format("truetype"),
url("./flaticon.woff?a456e6f6608639a10bb899a5e50ce5ca") format("woff"),
url("./flaticon.woff2?a456e6f6608639a10bb899a5e50ce5ca") format("woff2"),
url("./flaticon.eot?a456e6f6608639a10bb899a5e50ce5ca#iefix") format("embedded-opentype"),
url("./flaticon.svg?a456e6f6608639a10bb899a5e50ce5ca#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "dog": "\f101",
    "mortarboard": "\f102",
    "pawprint": "\f103",
    "care": "\f104",
    "facebook": "\f105",
);

.flaticon-dog:before {
    content: map-get($flaticon-map, "dog");
}
.flaticon-mortarboard:before {
    content: map-get($flaticon-map, "mortarboard");
}
.flaticon-pawprint:before {
    content: map-get($flaticon-map, "pawprint");
}
.flaticon-care:before {
    content: map-get($flaticon-map, "care");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
