$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: 
    // url("./flaticon.ttf?62c9f2bea8ac383c49622e990c4498b4") format("truetype"),
// url("./flaticon.woff?62c9f2bea8ac383c49622e990c4498b4") format("woff"),
url("./flaticon.woff2?62c9f2bea8ac383c49622e990c4498b4") format("woff2"),
// url("./flaticon.eot?62c9f2bea8ac383c49622e990c4498b4#iefix") format("embedded-opentype"),
// url("./flaticon.svg?62c9f2bea8ac383c49622e990c4498b4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "care": "\f101",
    "dog": "\f102",
    "mortarboard": "\f103",
    "pawprint": "\f104",
);

.flaticon-care:before {
    content: map-get($flaticon-map, "care");
}
.flaticon-dog:before {
    content: map-get($flaticon-map, "dog");
}
.flaticon-mortarboard:before {
    content: map-get($flaticon-map, "mortarboard");
}
.flaticon-pawprint:before {
    content: map-get($flaticon-map, "pawprint");
}
